# Gradle
.gradle/
build/
local.properties

# Android
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Logs
*.log

# Keystore
*.jks
*.keystore

# jniLibs (скачиваются в workflow)
app/src/main/jniLibs/
